.comp_statistics {
  position: relative;
  width: 100%;
  min-width: 1720px;
  height: 254px;
  background: rgba(12, 8, 25, 0.3);
  box-shadow: 0 26px 150px 0 rgba(237, 114, 53, 0.7);
  // box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  box-sizing: border-box;
  padding: 40px 60px;
  display: flex;
  align-items: center;
  .medal {
    height: 222px;
    position: absolute;
    right: 58px;
  }
  .arrow {
    height: 40px;
    width: 20px;
    margin: 0 60px;
  }
  .max_score {
    small, strong {
      color: rgba(255, 115, 0, 1) !important;
    }
  }
  .base, .multiplier, .max_score {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    small {
      font-size: 20px;
      color: #fff;
      line-height: 1;
    }
    strong {
      font-size: 36px;
      color: #fff;
      line-height: 1;
      margin-top: 20px;
    }
    i {
      font-size: 16px;
      color: rgba(109, 109, 109, 1);
      line-height: 1;
      margin-top: 10px;
    }
  }
  .user_info {
    width: 500px;
    height: 174px;
    background-color: rgba(13, 21, 35, 0.4);
    border-radius: 12px;
    margin-left: 70px;
    box-sizing: border-box;
    padding: 20px 30px;
    .login {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
      .address {
        width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        text-align: left;
        font-size: 24px;
        color: #fff;
      }
      .status {
        font-size: 20px;
        color: rgba(65, 42, 215, 1);
        cursor: pointer;
      }
      .link-tips {
        color: rgba(109, 109, 109, 1);
        margin-bottom: 4px;
      }
      .link {
        position: relative;
        width: 393px;
        height: 40px;
        line-height: 36px;
        border-radius: 36px;
        background: rgba(47, 48, 49, 1);
        text-align: left;
        padding-left: 20px;
        font-size: 18px;
        box-sizing: border-box;
        color: #fff;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        padding-right: 40px;
        .btn_copy {
          cursor: pointer;
          position: absolute;
          top: 2px;
          right: 3px;
          width: 36px;
          height: 36px;
          background-color: rgba(17, 117, 234, 1);
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          img {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
    .connect {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .btn_connect {
        position: relative;
        cursor: pointer;
        // width: 269px;
        width: 100%;
        min-height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 24px;
        // background-color: rgba(17, 117, 234, 1);
        button {
          height: 60px;
          border-radius: 36px;
          width: 100%;
        }
      }
      .connect_desc {
        font-size: 18px;
        color: #fff;
        margin-top: 27px;
      }
    }
  }
}