.community {
  position: relative;
  background: url('../../assets/community_bg.png') 50% 50% / cover no-repeat;
  width: 100%;
  height: 640px;
  .community_main {
    position: absolute;
    display: flex;
    align-items: center;
    left: 150px;
    top: -75px;
    width: 100%;
    // left: 50%;
    // top: 50%;
    // transform: translate3d(-50%, -397px, 0);
    &.active {
      .community_role {
        transform: translateX(0%);
        opacity: 1;
      }
      .community_dialog {
        transform: translateX(0);
        opacity: 1;
      }
    }
  }

  .community_role {
    position: relative;
    z-index: 1;
    bottom: 0;
    width: 847px;
    height: auto;
    top: -60px;
    transform: translateX(-50%);
    opacity: 0;
    transition: all 0.8s ease-in-out;
  }
  .community_dialog {
    position: relative;
    width: 637px;
    height: 322px;
    background: url('../../assets/community_dialog.png') 50% 50% / cover no-repeat;
    margin-left: -60px;
    font-size: 24px;
    color: #fff;
    box-sizing: border-box;
    padding: 70px 50px;
    line-height: 42px;
    text-align: left;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.8s ease-in-out;
  }
  .community_diamond {
    position: absolute;
    width: 138;
    height: 144px;
    top: -72px;
    right: -69px;
  }
}