// .scroll-notice {
//   width: 100%;
//   height: 48px;
//   background-color: #000;
// }

// @media (min-width: 751px) {
  .scroll-notice {
    width: 100%; /* Container width */
    height: 48px;
    overflow: hidden; /* Hide text that exceeds boundaries */
    white-space: nowrap; /* Keep text from wrapping */
    background-color: rgba(0, 0, 0, 1);
    .scroll-text {
      font-size: 24px;
      line-height: 48px;
      display: inline-block; /* Make text an inline block element */
      padding: 0;
      margin: 0;
      color: #fff;
      padding-left: 100%; /* Initially, text has equal-width gap from container left side */
    }
  }

  
// }

// @media (max-width: 750px) {
//   .scroll-container {
//     width: 100%; /* Container width */
//     overflow: hidden; /* Hide text that exceeds boundaries */
//     white-space: nowrap; /* Keep text from wrapping */
//   }

//   .scroll-text {
//     font-size: 2rem;
//     display: inline-block; /* Make text an inline block element */
//     padding-left: 100%; /* Initially, text has equal-width gap from container left side */
//   }
// }