.index-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  transform-origin: left top;
  // overflow: hidden;
  // width: 100%;
  width: 1920px;
  .header {
    min-width: 100%;
    position: relative;
    font-size: 0;
    img {
      width: 100%;
      height: auto;
    }
    .logo {
      position: absolute;
      top: 37px;
      left: 50%;
      transform: translateX(-50%);
      width: 143px;
      padding: 0;
      height: auto;
    }
    .header_logos {
      position: absolute;
      display: flex;
      align-items: center;
      bottom: 80px;
      left: 50%;
      margin-left: 400px;
      transform: translateX(-50%);
      img {
        width: 52px;
        height: 52px;
        margin: 0 26px;
      }
    }
    .header_main {
      position: absolute;
      left: 70px;
      top: 80px;
      display: flex;
      align-items: center;
      // margin-left: -70px;
      .header_main_left {
        width: 989px;
        height: auto;
      }
      .header_main_right {
        display: flex;
        flex-direction: column;
        align-items: center;
        .title {
          width: 756px;
          height: auto;
        }
        .sailingsoon {
          width: 756px;
          height: auto;
          margin-top: 20px;
        }
        .btn_event_group {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 24px;
          margin-top: 30px;
        }
        .btn {
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          box-sizing: border-box;
          width: 287px;
          height: 72px;
          background: url('../../assets/btn_event.png') 50% 50% / cover no-repeat;
          color: #FF7300;
          font-size: 30px;
          padding-bottom: 10px;
          
        }
      }
      
    }
  }
}