.game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 966px;
  background-color: #e4e4e5;
  & > div {
    box-sizing: border-box;
    padding-top: 92px;
    padding-left: 50px;
    width: 440px;
    height: 845px;
    h2 {
      font-size: 40px;
      color: #fff;
      margin: 0;
      text-align: left;
      padding-left: 50px;
    }
    p {
      font-size: 24px;
      line-height: 44px;
      color: #fff;
      text-align: left;
      padding-left: 50px;
      padding-right: 40px;
      margin-top: 25px;
    }
    img {
      width: 350px;
      height: 350px;
    }
  }
  
  .red {
    background: url('../../assets/game_red_bg.png') 50% 50% / cover no-repeat;
    transform: translateY(182px);
    position: relative;
    z-index: 1;
  }
  .blue {
    background: url('../../assets/game_blue_bg.png') 50% 50% / cover no-repeat;
  }
  .green {
    background: url('../../assets/game_green_bg.png') 50% 50% / cover no-repeat;
    transform: translateY(-182px);
    position: relative;
    z-index: 1;
  }
}