.airdrop-page {
  // overflow: hidden;
  // width: 100%;
  display: flex;
  flex-direction: column;
  width: 1920px;
  transform-origin: left top;
  background: url('../../assets/scene_bg.png') 50% 0 / cover no-repeat;
  .header {
    position: relative;
    width: 100%;
    // min-width: 1920px;
    margin-bottom: 70px;
    .web_logo {
      width: 143px;
      position: absolute;
      left: 50%;
      top: 37px;
      transform: translateX(-50%);
    }
  }
  .content {
    box-sizing: border-box;
    padding: 100px;
  }

  .mask {
    position: sticky;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,0.8);
  }
}