@font-face {
  font-family: Rowdies-Regular;
  src: url(./assets/Rowdies-Regular.ttf);
}

@font-face {
  font-family: Rowdies-Light;
  src: url(./assets/Rowdies-Light.ttf);
}

@font-face {
  font-family: Rowdies-Bold;
  src: url(./assets/Rowdies-Bold.ttf);
}

#root {
  /* min-width: 1920px; */
  /* width: 100vw; */
  /* height: 100vh; */
  width: 100%;
  overflow: hidden;
  /* width: 100%; */
  transform-origin: left top;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-family: Rowdies-Regular;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

p, h2, ul, h3, dd, dt{
  margin-block-end: 0;
  margin-block-start: 0;
  padding-inline-start: 0;
  margin-inline-start: 0;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Scrollbar refinement */
::-webkit-scrollbar {
  height: 5px;
  width: 0;
}
::-webkit-scrollbar-thumb {
  border-radius: 1px;
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: var(--ant-primary-color);
  background-color: #eee;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: 0;
  border-radius: 0;
  background: #eee
}