.connect-btn {
  position: absolute;
  top: 45px;
  right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 237px;
  height: 56px;
  // background: linear-gradient(180deg, #1C7EEB 0%, #1CADEB 100%);
  // border: 3px solid #fff;
  font-size: 16px;
  // color: #fff;
  // border-radius: 28px;
  // cursor: pointer;
  white-space: nowrap;
}

.account-address {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 180px;
}