.comp_rewards {
  background-color: rgba(12, 8, 25, 0.3);
  box-shadow: 0 26px 150px 0 rgba(237, 114, 53, 0.7);
  margin-top: 40px;
  width: 1720px;
  height: 752px;
  border-radius: 16px;
  padding-top: 54px;
  box-sizing: border-box;
  & > h2 {
    font-size: 40px;
    color: #fff;
    margin-bottom: 12px;
    text-align: left;
    padding-left: 70px;
  }
  .rewards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .rewards_item {
      width: 774px;
      height: 255px;
      border-radius: 12px;
      box-sizing: border-box;
      padding: 35px;
      background: rgba(12, 8, 25, 0.7);
      margin: 20px;
      dl {
        display: flex;
        flex-direction: column;
        dt {
          display: flex;
          align-items: center;
          img {
            width: 91px;
            height: 91px;
          }
          & > div {
            margin-left: 29px;
          }
          h2 {
            font-size: 28px;
            text-align: left;
            color: #fff;
            small {
              padding: 5px 10px 5px 10px;
              border-radius: 8px;
              border: 2px solid rgba(42, 192, 84, 1);
              font-size: 24px;
              margin-left: 12px;
              color: rgba(42, 192, 84, 1)
            }
          }
          h3 {
            text-align: left;
            margin-top: 5px;
            font-size: 24px;
            color: rgba(129, 129, 129, 1);
          }
        }
        dd {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 10px;
          span {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            line-height: 1;
          }
          span.left {
            strong {
              font-size: 44px;
              color: rgba(255, 115, 0, 1);
            }
            small {
              font-size: 24px;
              color: rgba(255, 115, 0, 1);
            }
          }
          .right {
            padding: 0 25px;
            border-radius: 36px;
            min-width: 127px;
            // box-shadow: 0 0 19.1px 0 rgba(255, 255, 255, 1) inset;
            background: #fff;
            color: rgba(58, 53, 59, 1);
            font-size: 24px;
            &.verify {
              box-shadow: 0 0 19.1px 0 rgba(255, 255, 255, 1) inset;
              background-color: rgba(42, 192, 84, 1);
              color: #fff;
            }
            &.completed {
              background-color: rgba(85, 83, 87, 1);
              color: rgba(150, 150, 150, 1)
            }
          }
        }
      }

      & > h2 {
        font-size: 28px;
        font-weight: 300;
        color: #fff;
        text-align: left;
      }

      .progress {
        display: flex;
        align-items: center;
        width: 100%;
        height: 136px;
        margin-top: 20px;
        padding: 14px;
        box-sizing: border-box;
        border: 1px solid #F35D43;
        border-radius: 8px;
        background: linear-gradient(90deg, rgba(243, 166, 18, 0.2) 0%, rgba(243, 93, 67, 0.2) 100%);
        // border-image-source: linear-gradient(90deg, #F3A612 0%, #F35D43 100%);
        .progress_invite {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 98px;
          height: 106px;
          box-sizing: border-box;
          border-radius: 8px;
          border: 1px solid rgba(243, 166, 17, 1);
          margin-right: 10px;
          span {
            font-size: 18px;
            color: #fff;
            line-height: 1;
          }
          strong {
            font-size: 40px;
            color: #fff;
            line-height: 1;
            margin-top: 8px;
          }
        }
        .progress_mutiplier {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 138px;
          height: 106px;
          box-sizing: border-box;
          border-radius: 8px;
          background: rgba(243, 166, 17, 1);
          margin-right: 10px;
          span {
            font-size: 18px;
            color: #fff;
            line-height: 1;
          }
          strong {
            font-size: 40px;
            color: #fff;
            line-height: 1;
            margin-top: 8px;
          }
        }
        .progress_container {
          flex: 1;
          position: relative;
          .progress_box {
            position: relative;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 5px;
            
            .progress_item {
              display: flex;
              flex-direction: column;
              align-items: center;
              width: 35px;
              .progress_item_mutiplier {
                font-size: 18px;
              }
              .progress_item_circle {
                width: 24px;
                height: 24px;
                border-radius: 50%;
                margin: 10px 0;
              }
              .progress_item_value {
                font-size: 18px;
                color: #fff;
              }
            }
          }
          .progress_bar {
            position: absolute;
            top: 50%;
            left: 12px;
            width: 395px;
            transform: translate3d(0, -50%, 0);
            height: 8px;
            background-color: #1E1E1E;
            .progress_bar_inner {
              background: linear-gradient(180deg, #F3A612 0%, #F35D43 100%);
              border-radius: 4px;
              height: 8px;
            }
          }
        }
       
      }
    }
  }
}
